<!DOCTYPE html>

<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <link href="styles.css" rel="stylesheet">
    </head>
    
    <body style="background-image: url('https://wallpaperaccess.com/full/2660600.jpg');">
    <h1 style="font-size: 50px; color: white;">My Hobbies</h1>

    <table class="center",style="width:70% ,position: absolute, top: 50%">
        <tr style="text-align:center font-family: Brush Script MT;color: white;">
            <th>Singing</th>
            <th>Badminton</th>
            <th>Coding</th>
        </tr>
         <tr style="text-align:center,font-size:30px,
            font-family: Times New Roman;color: white;">
             <th>I am trained in Carnatic music since young.</th>
             <th>I learnt badminton from my father and enjoy a good game</th>
             <th>My first experience with coding was in highschool which I did not like at first but going deeper into the subject, I found it interesting</th>
        </tr>
        <tr style="text-align:center,font-size: 30px,font-family: Times New Roman;color: white;">
            <th>I also like singing cinema songs in english and tamil.</th>
            <th>I like playing badminton in the mornings</th>
        </tr>
        </table>
